<!DOCTYPE html>
<html lang="en">

<head th:replace="common::linkHead"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header th:replace="common::header"></header>
    <aside th:replace="common::leftSide"></aside>

    <div class="content-wrapper" style="min-height: 923px;">
        <section class="content">
            <!-- 添加新客户 -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">添加客户</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" id="frm1" th:action="@{/client/add}" method="post" autocomplete="off">
                    <div class="box-body">
                        <!--输入客户姓名-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="姓名" name="name"
                                       style="border-radius: 3px">
                            </div>
                        </div>
                        <!--输入客户手机号码-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="电话" name="phone"
                                       style="border-radius: 3px">
                            </div>
                        </div>
                        <!--输入客户邮箱-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" placeholder="邮箱" name="email"
                                       style="border-radius: 3px">
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">提交</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!--展示所有客户-->
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">所有客户</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example1_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Browser: activate to sort column ascending"
                                            style="width: 173.99px;">姓名
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                            style="width: 159.156px;">号码
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Engine version: activate to sort column ascending"
                                            style="width: 115.75px;">邮箱
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="Engine version: activate to sort column ascending"
                                            style="width: 115.75px;">操作
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="client:${pageInfo.list}">
                                    <tr role="row" class="odd">
                                        <td th:text="${client.getName()}">杜小龙</td>
                                        <td th:text="${client.getPhone()}">15282505597</td>
                                        <td th:text="${client.getEmail()}">161846@qq.com</td>
                                        <td>
                                            <form th:action="@{/client/del}">
                                                <input type="hidden" name="id" th:value="${client.getId()}">
                                                <button type="submit" class="btn btn-block btn-danger btn-sm"
                                                        style="width: 60px">删除
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-9">
                                <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span>
                                    页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="btn-group">
                                    <a th:href="@{/client/clientPage}"><button type="button" class="btn btn-default" style="color: #fff;background-color: #00c0ef">首页</button></a>
                                    <a th:href="@{/client/clientPage(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"><button type="button" class="btn btn-default" style="color: #fff;background-color: #00c0ef"><<</button></a>
                                    <a th:href="@{/client/clientPage(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"><button type="button" class="btn btn-default" style="color: #fff;background-color: #00c0ef">>></button></a>
                                    <a th:href="@{/client/clientPage(pageNum=${pageInfo.pages})}"><button type="button" class="btn btn-default" style="color: #fff;background-color: #00c0ef">尾页</button></a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </section>
    </div>

</div>

<div th:replace="common::jsHead"></div>

<!-- Datth:srcbl@{}es -->
<script th:src="@{/static/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>

</body>
</html>