<!DOCTYPE html>
<html lang="en">

<head th:replace="common::linkHead"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header th:replace="common::header"></header>
    <aside th:replace="common::leftSide"></aside>

    <div class="content-wrapper" style="min-height: 923px;">
        <!-- 添加新客户 -->
        <div class="box-header with-border">
            <h3 class="box-title">添加客户</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" id="frm1" th:action="@{/client/add}" method="post" autocomplete="off">
            <div class="box-body">
                <!--输入客户姓名-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="name" name="name">
                    </div>
                </div>
                <!--输入客户手机号码-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Phone</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Phone" name="phone">
                    </div>
                </div>
                <!--输入客户邮箱-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right" >Submit</button>
            </div>
            <!-- /.box-footer -->
        </form>
        <!--展示所有客户-->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">所有客户</h3>
            </div>
            <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 135.594px;">客户ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 173.99px;">姓名</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 159.156px;">号码</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 115.75px;">邮箱</th>
                                        </tr>
                                    </thead>
                                    <tbody th:each="client:${pageInfo.list}">
                                        <tr role="row" class="odd">
                                            <td class="sorting_1" th:text="${client.getId()}">1</td>
                                            <td th:text="${client.getName()}">杜小龙</td>
                                            <td th:text="${client.getPhone()}">15282505597</td>
                                            <td th:text="${client.getEmail()}">161846@qq.com</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">客户ID</th>
                                            <th rowspan="1" colspan="1">姓名</th>
                                            <th rowspan="1" colspan="1">号码</th>
                                            <th rowspan="1" colspan="1">联系方式</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                         </div>
                        <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
                        <a th:href="@{/client/clientPage}">首页</a>
                        <a th:href="@{/client/clientPage(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                        <a th:href="@{/client/clientPage(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                        <a th:href="@{/client/clientPage(pageNum=${pageInfo.pages})}">尾页</a>

                    <!--<div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">
                                Showing 11 to 20 of 57 entries
                            </div>
                        </div>
                       <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a></li>
                                    <li class="paginate_button active"><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a></li>
                                    <li class="paginate_button next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <!-- /.box-body -->
        </div>


    </div>

</div>

<div th:replace="common::jsHead"></div>

<!-- jQuery 3 -->
<script th:src="@{/static/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Booth:srcrap 3.3.7 -->
<script th:src="@{/static/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- Datth:srcbl@{}es -->
<script th:src="@{/static/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<!-- Slith:srcro@{}ll -->
<script th:src="@{/static/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- Fasth:srcic@{}k -->
<script th:src="@{/static/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- Admth:srcTE@{} App -->
<script th:src="@{/static/dist/js/adminlte.min.js}"></script>
<!-- Admth:srcTE@{} for demo purposes -->
<script th:src="@{/static/dist/js/demo.js}"></script>
<!-- page script -->

</body>
</html>