<!DOCTYPE html>
<html lang="en">

<head th:replace="common::linkHead"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header th:replace="common::header"></header>
  <aside th:replace="common::leftSide"></aside>

  <div class="content-wrapper" style="min-height: 923px;" >
    <section class="content-header">
      <h1>邮箱推送</h1>
    </section>
    <section class="content">
      <div class="box box-info">
        <form th:action="@{/client/sendemail}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label>邮件主题</label>
              <input class="form-control" style="height: 60px; border-radius: 3px" name="subject">
            </div>


            <label>邮件内容</label>
            <textarea id="editor1" name="content" rows="10" cols="80" style="visibility: hidden; display: none;">
                    </textarea>


          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <div class="pull-right">
              <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
            </div>
          </div>
        </form>
        <!-- /.box-footer -->
      </div>
    </section>

  </div>

</div>

<div th:replace="common::jsHead"></div>

<script>
  $(function () {
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1',{height:'550px'})

    //bootstrap WYSIHTML5 - text editor
    $('.textarea').wysihtml5()
  })
</script>

</body>
</html>