<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group5.hawadeeleasemanagementsystem.dao.CommentBoardDao">

    <select id="getComments" resultType="com.group5.hawadeeleasemanagementsystem.domain.Comment">
        select * from `comment`
    </select>

    <insert id="addComment">
        insert into comment (nickname, content) values
        ("${nickname}","${content}")
    </insert>
</mapper>