<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group5.hawadeeleasemanagementsystem.dao.ProjectInfoDao">

    <resultMap id="WithUserResultMap" type="com.group5.hawadeeleasemanagementsystem.domain.ProjectWithUser">
        <association property="project" javaType="com.group5.hawadeeleasemanagementsystem.domain.ProjectInfo">
            <id property="id" column="cid"/>
            <result property="currentHandlerId" column="current_handler_id"/>
            <result property="promoterId" column="promoter_id"/>
            <result property="status" column="status"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
            <result property="createDate" column="create_date"/>
            <result property="fileLoc" column="file_loc" />
        </association>
        <association property="user" javaType="com.group5.hawadeeleasemanagementsystem.domain.User">
            <id property="id" column="uid"/>
            <result property="name" column="name"/>
            <result property="password" column="password"/>
            <result property="phone" column="phone"/>
        </association>
    </resultMap>

    <select id="getProjectUserPromoted" resultMap="WithUserResultMap">
        select u.id as uid, u.name, u.password, u.phone,
               c.id as cid, c.current_handler_id,
               c.promoter_id, c.status, c.file_loc,
               c.title, c.content, c.create_date
        from user as u right join project_info as c on u.id = c.current_handler_id
        where c.promoter_id = #{userId}
    </select>

    <select id="getProjectUserNeedToProcess" resultMap="WithUserResultMap">
        select u.id as uid, u.name, u.password, u.phone,
               c.id as cid, c.current_handler_id,
               c.promoter_id, c.status, c.file_loc,
               c.title, c.content, c.create_date
        from user as u inner join project_info as c on u.id = c.current_handler_id
        where c.current_handler_id = #{userId}
    </select>

    <insert id="addNewProject">
        insert into project_info (promoter_id,current_handler_id, title, content, file_loc) values
        (${promoterId},${currentHandlerId},"${title}","${content}", "${fileLoc}")
    </insert>

    <update id="forwardProject">
        update project_info set current_handler_id = (select user_id from duty2user where duty_id = #{dutyId})
        where id = #{projectId}
    </update>

    <update id="finishProject">
        update hawadee.project_info set status = 2, current_handler_id=-1 where id = #{projectId}
    </update>

    <delete id="removeProject">
        delete from hawadee.project_info where id = #{projectId}
    </delete>
</mapper>


