<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group5.hawadeeleasemanagementsystem.dao.ProjectResDao">


    <insert id="addNewProjectRes">
        insert into project_res(project_id,file_loc) values
        ("${projectId}","${fileLoc}")
    </insert>

    <select id="getProjectRess" resultType="com.group5.hawadeeleasemanagementsystem.domain.ProjectRes">
        select * from project_res where status = 1
    </select>

    <update id="setGrade">
        update project_res set grade = ${grade}
        where id = #{projectResId}
    </update>

    <update id="setStatus">
        update project_res set status = ${status}
        where id = #{projectResId}
    </update>


</mapper>







