<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group5.hawadeeleasemanagementsystem.dao.userRelDao">

    <select id="getRel" resultType="com.group5.hawadeeleasemanagementsystem.domain.userRel">
        select `id` as userId , `colleague` as colleagueId ,`leader` as leaderId,`subordinate` as subordinateId from userRel where userRel.id = "${userId}"
    </select>

    <update id="updateColleague">
        update userRel set `colleague` = #{cId} where `id` = #{uId}
    </update>

    <update id="updateLeader">
        update userRel set `leader` = #{lId} where `id` = #{uId}
    </update>

    <update id="updateSubordinate">
        update userRel set `subordinate` = #{sId} where `id` = #{uId}
    </update>


</mapper>