<!DOCTYPE html>
<html lang="en">

<head th:replace="common::linkHead"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header th:replace="common::header"></header>
    <aside th:replace="common::leftSide"></aside>

    <div class="content-wrapper">

        <!-- model 1 -->
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="../static/dist/img/user2-160x160.jpg" alt="User profile picture">

                    <h3 class="profile-username text-center" th:text = "${user.getName()}"></h3>

                    <p class="text-muted text-center">Software Engineer</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>User ID</b> <a class="pull-right" th:text = "${user.getId()}"></a>
                        </li>
                        <li class="list-group-item">
                            <b>User Phone</b> <a class="pull-right" th:text = "${user.getPhone()}"></a>
                        </li>
                        <li class="list-group-item">
                            <b>User Level</b> <a class="pull-right" th:text = "${userInfo.getLevel()}"></a>
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-block"><b>Like</b></a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

                    <p class="text-muted" th:text = "${userInfo.getSchool()}"></p>

                    <hr>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                    <p class="text-muted">China, Chengdu</p>

                    <hr>

                    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

                    <p>
                        <span class="label label-danger">UI Design</span>
                        <span class="label label-success">Coding</span>
                        <span class="label label-info">Java</span>
                        <span class="label label-warning">C++</span>
                        <span class="label label-primary">Node.js</span>
                    </p>

                    <hr>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i>Introduction</strong>

                    <p th:text = "${userInfo.getSelfIntro()}"></p>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- model 1 -->

        <div class="col-md-9">
            <div class="nav-tabs-custom">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#settings" data-toggle="tab" aria-expanded="true">Settings</a></li>
                </ul>

                <div class="tab-content">


                    <div class="tab-pane active" id="settings">

                        <form class="form-horizontal" action="#" th:action="@{/homepage/setInfo}"
                              method="post" enctype="multipart/form-data">

                            <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Age</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="age" name = "age" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Level</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="level" name = "level" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">School</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="school" name = "school" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Introduction</label>

                                <div class="col-sm-10">
                                    <textarea class="form-control" id="introduction" placeholder="introduction" name = "introduction" required></textarea>
                                </div>
                            </div>
                            </div>


                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Submit</button>
                            </div>

                        </form>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->

            <div class="post">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="../static/dist/img/user5-128x128.jpg" alt="user image">
                    <span class="username">
                          <a href="#" th:text = "${colleague.getName()}"></a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description" th:text = "${colleague.getPhone()}"></span>
                    <span class ="description">my colleague</span>
                </div>
                <!-- /.user-block -->
                <p>work work hard,day day up</p>
            </div>

            <div class="post">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="../static/dist/img/user3-128x128.jpg" alt="user image">
                    <span class="username">
                          <a href="#" th:text = "${leader.getName()}"></a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description" th:text = "${leader.getPhone()}"></span>
                    <span class ="description">my leader</span>
                </div>
                <!-- /.user-block -->
                <p>I want to be a computer scientist</p>
            </div>

            <div class="post">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="../static/dist/img/user7-128x128.jpg" alt="user image">
                    <span class="username">
                          <a href="#" th:text = "${subordinate.getName()}"></a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description" th:text = "${subordinate.getPhone()}"></span>
                    <span class ="description">my subordinate</span>
                </div>
                <!-- /.user-block -->
                <p>I hope there no bug in my program</p>
            </div>
        </div>

    </div>
</div>
</body>

</html>