<!DOCTYPE html>
<html lang="en">

<head th:replace="common::linkHead"></head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header th:replace="common::header"></header>
    <aside th:replace="common::leftSide"></aside>

    <div class="content-wrapper" style="min-height: 923px;">
        Welcome
        <span th:text="${session.user.name}"></span>

        <!-- 发起新合同 -->
        <div class="box-header with-border">
            <h3 class="box-title">New Reimbursement</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" action="#" th:action="@{/reimbursement/newReimbursement}"
              method="post" enctype="multipart/form-data">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">报销金额</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="报销金额" name="title" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">报销说明</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="报销说明" name="content" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">证明文件</label>

                    <div class="col-sm-10">
                        <input type="file" class="form-control" placeholder="Reimbursement File" name="file" required>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Submit</button>
            </div>
            <!-- /.box-footer -->
        </form>

        <div class="box-header with-border">
            <h3 class="box-title">已通过或处理中的报销</h3>
        </div>

        <div th:each="reimbursementInfo:${reimbursementPromoted}">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${reimbursementInfo.getReimbursement().getTitle()}"></h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Detail Information</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>Current Status</th>
                                        <th>Content</th>
                                        <th>CreateDate</th>
                                        <th>Current Handler</th>
                                        <th>Reimbursement</th>
                                    </tr>
                                    <tr>
                                        <td th:text="${reimbursementInfo.getReimbursement().getId()}"></td>
                                        <td>
                                                <span class="label label-primary"
                                                      th:if="${reimbursementInfo.getReimbursement().getStatus()}==1">Processing</span>
                                            <span class="label label-success"
                                                  th:if="${reimbursementInfo.getReimbursement().getStatus()}==2">Finished</span>
                                        </td>
                                        <td th:text="${reimbursementInfo.getReimbursement().getContent()}"></td>
                                        <td th:text="${reimbursementInfo.getReimbursement().getCreateDate()}"></td>
                                        <td th:if="${reimbursementInfo.getUser()}!=null"
                                            th:text="${reimbursementInfo.getUser().getName()}"></td>
                                        <td th:if="${reimbursementInfo.getUser()}==null">No Handler</td>
                                        <td>
                                            <form th:action="@{/reimbursement/downloadProveFile}">
                                                <button type="submit" class="btn btn-block btn-info">Download Prove
                                                    File
                                                </button>
                                                <input type="hidden" name="fileLoc"
                                                       th:value="${reimbursementInfo.getReimbursement().getProvFileLoc()}">
                                            </form>
                                        </td>
                                        <td>
                                            <form th:action="@{/reimbursement/downloadApprovalFile}">
                                                <button type="submit" class="btn btn-block btn-info">Download Approval
                                                    File
                                                </button>
                                                <input type="hidden" name="fileLocA"
                                                       th:value="${reimbursementInfo.getReimbursement().getApprovalFileLoc()}">
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Process Track</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>Reason</th>
                                        <th>CreateDate</th>
                                        <th>Status</th>
                                        <th>Handler</th>
                                    </tr>
                                    <tr th:each="reimbursementHistory:${reimbursementPromotedProcessingHistoryMap.get(reimbursementInfo)}">
                                        <td th:text="${reimbursementHistory.getHistory().getId()}"></td>
                                        <td th:text="${reimbursementHistory.getHistory().getReason()}"></td>
                                        <td th:text="${reimbursementHistory.getHistory().getCreateDate()}"></td>
                                        <td>
                                                <span class="label label-success"
                                                      th:if="${reimbursementHistory.getHistory().getStatus()}==1">Approved</span>
                                            <span class="label label-danger"
                                                  th:if="${reimbursementHistory.getHistory().getStatus()}==2">Denied</span>
                                        </td>
                                        <td th:text="${reimbursementHistory.getUser().getName()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="box-header with-border">
            <h3 class="box-title">需要我处理的报销</h3>
        </div>

        <div th:each="reimbursementInfo:${reimbursementNeedToProcess}">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${reimbursementInfo.getReimbursement().getTitle()}"></h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Detail Information</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>Current Status</th>
                                        <th>Content</th>
                                        <th>CreateDate</th>
                                        <th>Current Handler</th>
                                        <th>Reimbursement</th>
                                    </tr>
                                    <tr>
                                        <td th:text="${reimbursementInfo.getReimbursement().getId()}"></td>
                                        <td>
                                                <span class="label label-primary"
                                                      th:if="${reimbursementInfo.getReimbursement().getStatus()}==1">Processing</span>
                                            <span class="label label-success"
                                                  th:if="${reimbursementInfo.getReimbursement().getStatus()}==2">Finished</span>
                                        </td>
                                        <td th:text="${reimbursementInfo.getReimbursement().getContent()}"></td>
                                        <td th:text="${reimbursementInfo.getReimbursement().getCreateDate()}"></td>
                                        <td th:text="${reimbursementInfo.getUser().getName()}"></td>
                                        <td>
                                            <form th:action="@{/reimbursement/download}">
                                                <button type="submit" class="btn btn-block btn-info">Download</button>
                                                <input type="hidden" name="fileLoc"
                                                       th:value="${reimbursementInfo.getReimbursement().getProvFileLoc()}">
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <div class="col-xs-12">
                        <form th:action="@{/reimbursement/processing}">
                            <input name="reimbursementId" type="hidden"
                                   th:value="${reimbursementInfo.getReimbursement().getId()}">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Reason" name="reason">
                            </div>

                            <button type="submit" name="isApprove" class="btn btn-success pull-right" th:value=true>
                                Approve
                            </button>
                            <button type="submit" name="isApprove" class="btn btn-danger pull-right"
                                    style="margin-right: 5px;"
                                    th:value=false>
                                Denied
                            </button>
                        </form>
                    </div>

                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Process Track</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>ID</th>
                                        <th>Reason</th>
                                        <th>CreateDate</th>
                                        <th>Status</th>
                                        <th>Handler</th>
                                    </tr>
                                    <tr th:each="reimbursementHistory:${reimbursementNeedToProcessHistoryMap.get(reimbursementInfo)}">
                                        <td th:text="${reimbursementHistory.getHistory().getId()}"></td>
                                        <td th:text="${reimbursementHistory.getHistory().getReason()}"></td>
                                        <td th:text="${reimbursementHistory.getHistory().getCreateDate()}"></td>
                                        <td>
                                                <span class="label label-success"
                                                      th:if="${reimbursementHistory.getHistory().getStatus()}==1">Approved</span>
                                            <span class="label label-danger"
                                                  th:if="${reimbursementHistory.getHistory().getStatus()}==2">Denied</span>
                                        </td>
                                        <td th:text="${reimbursementHistory.getUser().getName()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>

                </div>

                <!-- /.box-body -->


            </div>
        </div>

    </div>

</div>

<div th:replace="common::jsHead"></div>

</body>
</html>